{% extends 'base.html.twig' %}

{% block title %}
    {{ 'action.change_password'|trans }} {{ user.id|default('') }}
{% endblock %}

{% block body %}
    <h1>{{ 'action.change_password'|trans }} {{ user.id|default('') }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('user_password', {id: user.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-left">
        <input type="submit" value="{{ 'Save'|trans }}" class="btn btn-primary" />
        <a href="{{ url('user_index') }}" class="btn btn-link">
            {{ 'Back to list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
